@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Volkhov:wght@400;700&display=swap');

:root {
   --Default-color: #FFC107;
   --Primary-color: #000000;
   --Secondary-color: #Fff;
   --blue-color : #1976D2;
   --dark:#b9b9b9;

}

:root {
   --font-default: "Poppins", sans-serif;
 }

 html,body{
   overflow-x: hidden;
  }

 body{
   font-family: var(--font-default);
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-default);
}

/* Style nav */

.main-nav{
   margin-top: 20px;
}

.main-nav .logo h1{
   font-size: 20px;
   font-weight: 600;
}

.wrapper-nav{
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 30px;
   height: 100%;
  }

  .wrapper-nav li {
   list-style: none;
  }

  .wrapper-nav a {
   position: relative; /* Diperlukan untuk menampilkan efek garis bawah */
   text-decoration: none; /* Hapus garis bawah default dari tautan */
   color: #333; /* Warna teks tautan */
   transition: color 0.3s, border-bottom-color 0.3s; /* Efek transisi saat hover */
 }

  .wrapper-nav li a{
   color: #000;
   text-decoration: none;
   font-size: 17px;
   text-transform:uppercase;
   font-size: 15px;
  }

  .wrapper-nav a:hover{
   border-bottom: 2px solid var(--Default-color); /* Garis bawah oranye saat dihover */
  }



/* End Nav */

#hero{
   background-image: url("../assets/img/bg-hero.svg");
   background-size: cover;
   background-position: center;
   max-width: 100%;
}

#hero .left-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  
}

#hero .left-content h1{
   line-height: 57px;
   font-size: 60px;
   font-weight: 900;
   font-family: var(--font-default);
}

#hero .left-content p{
   line-height: 30px;
   font-size: 17px;
   font-weight: 300;
   font-family: var(--font-default);
}

#hero .left-content .btn-rounded{
   width: 52px;
   height: 52px;
   background-color: var(--Primary-color);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
}


#hero .left-content .btn-hero{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
}


#hero .left-content .btn-play{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 30px;
}


#hero .decor-hero-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#hero .decor-hero-right img{
   margin-top: 70px;
}

#hero .decor-right{
 position: absolute;
 right: 0;
 top: 0;
 z-index: -999;
}

/* style service */
   #service .card-service{
      background-color: var(--Secondary-color);
      padding: 40px;
      border-radius: 20px;
      box-shadow: 0px 0px 4px 0px var(--dark);
   }

   #service .card-service .card-title{
      display: flex;
      justify-content: left;
      align-items: center;
   }

   #service .card-service .card-title img{
      max-width: 100%;
      margin-right: 12px;
      height: 40px;
      border-radius: 10px;
   }

   #service .card-service .card-title h3{
     font-family: var(--font-default);
     font-size: 20px;
     font-weight: 600;
     margin-top: 7px;
   }

   #service .card-service p{
      font-size: 15px;
      margin-top: 7px;
    }


/* end service */


@media (max-width:992px){
   #hero .row-reverse{
      flex-direction: column-reverse;
   }

   .wrapper-nav{
      position: fixed;
      top: 0;
      width: 100vw;
      right:-100vw;
      bottom: 0;
      background-color: #ffffffd7;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      z-index: 999;
      transition: 0.3s;
   }

   .main-nav .wrapper-nav a{
      font-size: 30px;
      font-weight: 500;
      font-family: var(--font-default);
   }

   .wrapper-nav.show{
      right: 0;
   }

   ul.wrapper-nav{
      flex-direction: column;
   }

   .humberger {
      width: 50px;
      position: fixed;
      right: 20px;
      top: 10px;
      cursor: pointer;
      z-index: 9999;
   }

   #hero .decor-hero-right {
      display :flex;
      justify-content:center;
      align-items:center;
  }

  #hero .left-content{
   padding-top: 40px;
  }
  
  #hero .decor-hero-right img{
      max-width: 100%;
      max-height:100%;
      margin: 0;
  }

  #hero .left-content p{
     margin-top: 15px;
  }

  #hero .btn-hero {
   padding-bottom: 30px;
}

}

@media (max-width:434px){
   #hero .left-content .main-text h1{
      font-size :50px;
}

#hero .left-content p{
  margin-top :0;
}


}