@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Volkhov:wght@400;700&display=swap');

:root {
   --Default-color: #88abb8;
   --Primary-btn-color: #687387;
   --Secondary-color: #ced4da;
   --white-default:#fff;
   --smoke-color:#ced4da;


}

:root {
   --font-default: "Poppins", sans-serif;
 }

 html,body{
   overflow-x: hidden;
  }

 body{
   font-family: var(--font-default);
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-default);
}

/* Style nav */
nav{
   background-color: var(--Primary-btn-color);
}
.main-nav .logo h1{
   font-size: 20px;
   font-weight: 600;
}

.wrapper-nav{
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 30px;
   height: 100%;
  }

  .wrapper-nav li {
   list-style: none;
  }

  .wrapper-nav a {
   position: relative; /* Diperlukan untuk menampilkan efek garis bawah */
   text-decoration: none; /* Hapus garis bawah default dari tautan */
   color: #333; /* Warna teks tautan */
   transition: color 0.3s, border-bottom-color 0.3s; /* Efek transisi saat hover */
 }

  .wrapper-nav li a{
   color: #000;
   text-decoration: none;
   font-size: 17px;
   text-transform:uppercase;
   font-size: 15px;
  }

  .wrapper-nav a:hover{
   border-bottom: 2px solid var(--Default-color); /* Garis bawah oranye saat dihover */
  }



/* End Nav */

#hero{
   background-color: var(--Secondary-color);
   max-width: 100%;
}

#hero .left-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  
}

#hero .left-content h1{
   line-height: 57px;
   font-size: 60px;
   font-weight: 900;
   font-family: var(--font-default);
}

#hero .left-content p{
   line-height: 30px;
   font-size: 17px;
   font-weight: 300;
   font-family: var(--font-default);
}

#hero .left-content .btn-rounded{
   width: 52px;
   height: 52px;
   background-color: var(--Primary-color);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
}


#hero .left-content .btn-hero{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
}


#hero .left-content .btn-moni{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 30px;
}

#hero .left-content .btn-moni a{
   background-color: var(--white-default) ;
   border: 1px solid var(--Default-color);
   padding: 13px;
   text-decoration: none;
   color: var(--Primary-btn-color);
   border-radius: 7px;
   font-size: 12px;
   
}

#hero .left-content .btn-hero .more{
   background-color: var(--Primary-btn-color) ;
   padding: 13px;
   text-decoration: none;
   color: var(--white-default);
   border-radius: 7px;
   font-size: 12px;
   
}


#hero .decor-hero-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero .decor-hero-right img{
   margin-top: 70px;
}

#hero .decor-right{
 position: absolute;
 right: 0;
 top: 0;
 z-index: -999;
}

/* style service */
#subarash .card-service img,
#utsukushhii .card-service img{
 max-width: 100%;
 width: 450px;
}

#subarash .card-service,
#utsukushhii .card-service,
#sensei .card-service{
   display: flex;
   flex-direction: column;
   justify-content: left;
}

#subarash .card-service a,
#utsukushhii .card-service a,
#sensei .card-service a{
  color: var(--white-default);
  padding: 12px;
  border-radius: 10px;
  text-decoration: none;
  font-family: var(--font-default);
  background-color: var(--Primary-btn-color);
  width: 185px;
  text-align: center;
}

#cert .img-cert{
  display: flex;
  justify-content: center;
  align-items: center;
}

#cert .img-cert img{
   box-shadow: 1px 0px 3px 0px var(--Primary-btn-color);
   margin: 10px;
   max-width: 100%;
   border-radius: 5px;
 }
/* end service */

/* utsukushhii style */
#utsukushhii{
   background-color: var(--smoke-color);
}
/* end utsukushhii */

/* sensei style */
#sensei{
   background-color: var(--white-default);
}
/* end sensei */

@media (max-width:992px){
   #hero .row-reverse{
      flex-direction: column-reverse;
   }

   .wrapper-nav{
      position: fixed;
      top: 0;
      width: 100vw;
      right:-100vw;
      bottom: 0;
      background-color: #ffffffd7;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      z-index: 999;
      transition: 0.3s;
   }

   .main-nav .wrapper-nav a{
      font-size: 30px;
      font-weight: 500;
      font-family: var(--font-default);
   }

   .wrapper-nav.show{
      right: 0;
   }

   ul.wrapper-nav{
      flex-direction: column;
   }

   .humberger {
      width: 50px;
      position: fixed;
      right: 20px;
      top: 10px;
      cursor: pointer;
      z-index: 9999;
   }

   #hero .decor-hero-right {
      display: none;
  }

  #hero .left-content{
   padding-top: 40px;
  }
  
  #hero .decor-hero-right img{
      max-width: 100%;
      max-height:100%;
      margin: 0;
  }

  #hero .left-content p{
     margin-top: 15px;
  }

  #hero .btn-hero {
   padding-bottom: 30px;
}

/* screen mobile service */

#service .card-left-service{
   display: none;
}

#subarash .card-service .card-title,
#utsukushhii .card-service .card-title,
#sensei .card-service .card-title{
   margin-top:15px;
   padding:0;
}

#subarash .card-service p,
#utsukushhii .card-service p,
#sensei .card-service p{
   padding:0;
   font-size:19px;
}

#subarash .card-service h3,
#utsukushhii .card-service h3,
#sensei .card-service h3{
   margin:0;
   padding:0;
   font-size:30px;
}

#subarash a,
#utsukushhii a,
#sensei a{
   margin:0;
   padding:0;
   font-size:17px;
}

#subarash span,
#utsukushhii span,
#senseii span{
   font-size :25px;
}

#utsukushhii .row-reverse{
   flex-direction: column-reverse;
   justify-content: center;
   display: flex;
}

/* end screen service */

}

@media (max-width:434px){
   #hero .left-content .main-text h1{
      font-size :50px;
}

#hero .left-content p{
  margin-top :0;
}


}