@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Volkhov:wght@400;700&display=swap');

:root {
   --Default-color: #FFC107;
   --Primary-color: #000000;
   --Secondary-color: #F8F8F8;
   --blue-color : #1976D2;

}

:root {
   --font-default: "Poppins", sans-serif;
 }

 html,body{
   overflow-x: hidden;
  }

 body{
   font-family: var(--font-default);
 }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-default);
}

#hero{
   background-image: url("../assets/img/bg-hero.svg");
   background-size: cover;
   background-position: center;
   max-width: 100%;
   
}

#hero .left-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
  
}

#hero .left-content h1{
   line-height: 57px;
   font-size: 60px;
   font-weight: 900;
   font-family: var(--font-default);
}

#hero .left-content p{
   line-height: 30px;
   font-size: 17px;
   font-weight: 300;
   font-family: var(--font-default);
}

#hero .left-content .btn-rounded{
   width: 52px;
   height: 52px;
   background-color: var(--Primary-color);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-right: 20px;
}


#hero .left-content .btn-hero{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
}


#hero .left-content .btn-play{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 30px;
}


#hero .decor-hero-right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#hero .decor-hero-right img{
   margin-top: 70px;
}

#hero .decor-right{
 position: absolute;
 right: 0;
 top: 0;
 z-index: -999;
   
}


@media (max-width:992px){
   #hero .row-reverse{
      flex-direction: column-reverse;
   }

   #hero .decor-hero-right {
      display :flex;
      justify-content:center;
      align-items:center;
  }

  #hero .left-content{
   padding-top: 40px;
  }
  
  #hero .decor-hero-right img{
      max-width: 100%;
      max-height:100%;
      margin: 0;
  }

  #hero .left-content p{
     margin-top: 15px;
  }

  #hero .btn-hero {
   padding-bottom: 30px;
}

}